@import '_template';

.carts {
    @include _1250 {
        margin-top: 26px;
    }

    @include _992 {
        width: 100vw;
        margin: 70px auto 30px auto;
    }
    @include _690{
        margin-top: 20px;
    }
    @include _547{
        width: 100vw;
        height: min-content;
        display: flex;
        justify-content: space-around;
        align-items: center;
        gap: 5px;
        flex-direction: column;
        margin: 50vh 0 0 0;
        background-color: white;
    }
    @include _350 {position: absolute;
        top: -999999px;
        left: -9999999px
    }

    width: 90vw;
    margin: 60px auto 0 auto;
    @include title_style( 18px, 400, normal);
    font-family: 'Roboto',
    sans-serif;
    display: flex;
    justify-content: space-evenly;
    align-content: flex-start;
    z-index: 10;
    animation: slide_carts 0.3s linear 1 reverse 0.7s backwards;

    span {
        @include _992 {
            font-size: 35px;
            margin: 5px;
        }
        @include _547{
            font-size: 50px;
            display: flex;
            align-items: center;
            text-align: center;
            margin: 0 5px 0 5px
        }

        font-size: 65px;
        line-height: 76px;
        display: flex;
        align-items: center;
        text-align: center;
        @extend %light_blue;
        margin: 0 15px;
    }

    .box_1 {
        @include _992 {
            width: 207px;
            height: 70px;
            font-size: 15px;
            white-space: nowrap;
            line-height: 90%;
        }
        @include _625{
            width: 185px;
            height: 64px;
            font-size: 13px;
        }
        @include _547{
            box-sizing: border-box;
            width: 50vw;
            height: min-content;
            font-size: 15px;
            justify-content: center;
            align-items: center;
            margin-top: 15px;
        }
        @include _505{ width: 60vw;}

        box-sizing: border-box;
        width: 280px;
        height: 120px;
        background: #FFFFFF;
        border: 1px solid #D8E1E1;
        box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.25);
        border-radius: 8px;
        display: flex;
        justify-content: flex-start;
        align-items: center;
        flex-direction: row;
    }

    .box_2 {
        @include _992 {
            width: 207px;
            height: 70px;
            font-size: 15px;
            white-space: nowrap;
            line-height: 90%;
        }@include _625{
            width: 185px;
            height: 64px;
            font-size: 13px;
        }
        @include _547{
            box-sizing: border-box;
            width: 50vw;
            height: min-content;
            font-size: 15px;
            justify-content: center;
            align-items: center;
            margin-top: 15px;
        }
        @include _505{ width: 60vw;}

        box-sizing: border-box;
        width: 280px;
        height: 120px;
        background: #FFFFFF;
        border: 1px solid #D8E1E1;
        box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.25);
        border-radius: 8px;
        display: flex;
        justify-content: flex-start;
        align-items: center;
    }

    .box_3 {

        @include _992 {
            width: 207px;
            height: 70px;
            font-size: 15px;
            white-space: nowrap;
            line-height: 90%;
        }
        @include _625{
            width: 185px;
            height: 64px;
            font-size: 13px;
        }
        @include _547{
            box-sizing: border-box;
            width: 50vw;
            height: min-content;
            font-size: 15px;
            justify-content: center;
            align-items: center;
            margin-top: 15px;
        }
        @include _505{ width: 60vw;}
        
        box-sizing: border-box;
        width: 280px;
        height: 120px;
        background: #FFFFFF;
        border: 1px solid #D8E1E1;
        box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.25);
        border-radius: 8px;
        display: flex;
        justify-content: flex-start;
        align-items: center;
        flex-direction: row;
    }
}

@keyframes slide_carts {
    0% {
        opacity: 1;
        margin-left: 0px;
    }

    100% {
        opacity: 0;
        margin-left: -50%;

    }
}