@import '_mixin_all';

.footer {
    @include _992 {
        height: min-content;
        padding: 40px 70px 25px 70px;
    }
    @include _690{
        padding: 38px 30px 25px 30px;
    }

    @include _625 {
        padding: 20px
    }

    @include _547 {
        height: 100vh;
        background: linear-gradient(180deg, #A1C7D4 0%, #0680AA 100%);
        padding: 30px 40px 10px 40px;
        flex-direction: column;
    }

    box-sizing: border-box;
    width: 100vw;
    height: min-content;
    background-image: linear-gradient(91.75deg, #A1C7D4 18.06%, #0680AA 98.16%);
    padding: 55px 115px 25px 115px;
    display: flex;
    justify-content: space-between;
    align-items: flex-start;
    position: relative;

    .left {
        @include _1024 {
            width: 40%;
        }

        @include _992 {
            width: 45%;
            font-size: 16px;
        }

        @include _625 {
            width: 55%;
        }

        @include _547 {
            width: 70vw;
            font-size: 14px;
        }

        width: 33%;
        font-family: 'Roboto',
        sans-serif;
        font-style: normal;
        font-weight: 400;
        line-height: 135%;
        color: #0F2D4A;
        font-size: 20px;

        .boxicon {
            @include _992 {
                line-height: 140%;
                font-size: 20px;
            }

            @include _547 {
                font-size: 19px;
                margin-bottom: 20px;
            }

                color: #0F2D4A;
                font-family: 'Sofia Sans',
                    sans-serif;
                font-style: normal;
                font-weight: 400;
                line-height: 140%;
                font-size: 26px;
                display: flex;
                justify-content: flex-start;
                align-items: flex-start;
                margin-bottom: 30px;

                img {
                    width: 78px;
                    height: 80px;

                    @include _625 {
                        width: 60px;
                        height: auto;
                    }
                    @include _547 {
                        width: 51px;
                        height: 56px;
                    }
                }

                span {
                    @include _992 {
                        font-size: 27px
                    }

                    @include _625 {
                        font-size: 24px;
                    }
                    @include _547 {
                        font-size: 27px;
                    }

                    text-transform: uppercase;
                    font-size: 39px;
                    white-space: pre;
                }
            }

            .box_text {

                display: flex;
                justify-content: space-around;
                align-items: center;

                @include _1024 {
                    justify-content: space-between;
                }
                @include _547 {
                    justify-content: space-between;
                }

                .text_left {
                    display: flex;
                    justify-content: space-evenly;
                    align-items: flex-start;
                    flex-direction: column;
                    height: 150px;
                    @include _547 {
                        display: flex;
                        justify-content: space-between;
                        align-items: flex-start;
                        flex-direction: column;
                        height: 80px;
                    }

                    .list_text:hover {
                        color: white;
                    }

                    .list_ua {
                        font-weight: bold;
                        display: inline-block;

                        &:hover {
                            color: white
                        }

                        &::after {
                            margin-left: 5px;
                            margin-right: 5px;
                            content: "|";
                            color: black;
                            font-style: bold;
                            display: inline-block
                        }
                    }

                    .list_en {
                        display: inline-block;

                        :hover {
                            color: white
                        }
                    }
                }

                .text_right {
                    display: flex;
                    justify-content: center;
                    align-items: flex-start;
                    flex-direction: column;
                    height: 150px;
                    @include _547 {
                        height: 80px;
        margin-right: 40px; 
                    }
                }
            }
        }
    }