@import '_mixin_all';

.form {
    .bigbox {
        @include _992 {
            width: 90vw;
            height: min-content;
            margin: 50px auto;
        }

        @include _800 {
            margin-top: 30px;
        }

        @include _547 {
            box-sizing: border-box;
            width: 90vw;
            height: fit-content;
            background: #FFFFFF;
            border: 1px solid #D9D9D9;
            box-shadow: 0px 4px 4px rgb(0 0 0 / 25%);
            border-radius: 10px;
            padding: 5px 4px 3px 10px;
            margin: 20px auto;
        }

        box-sizing: border-box;
        width: 845px;
        height: 265px;
        background: #FFFFFF;
        border: 1px solid #D9D9D9;
        box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.25);
        border-radius: 10px;
        padding: 10px 9px 8px 15px;
        margin: 88px auto;

        .box {
            @include _547 {
                box-sizing: border-box;
                /* width: 821px;
                    height: 247px; */
                background: #FFFFFF;
                border: 1px solid #D9D9D9;
                backdrop-filter: blur(2px);
                border-radius: 10px;
            }

            box-sizing: border-box;
            background: #FFFFFF;
            border: 1px solid #D9D9D9;
            backdrop-filter: blur(2px);
            border-radius: 10px;

            h1 {
                @include _992 {
                    font-size: 20px;
                    line-height: 110%;
                }

                @include _547 {
                    font-family: 'Roboto', sans-serif;
                    font-style: normal;
                    font-weight: 500;
                    font-size: 20px;
                    line-height: 100%;
                    text-align: center;
                    text-transform: uppercase;
                    color: #1B1D1F;
                    margin: 10px auto 5px auto;
                }

                font-family: 'Roboto',
                sans-serif;
                font-style: normal;
                font-weight: 500;
                font-size: 32px;
                line-height: 130%;
                text-align: center;
                text-transform: uppercase;
                color: #1B1D1F;
                margin: 29px auto 7px auto;
            }

            h4 {
                @include _992 {
                    font-size: 12px;
                    line-height: 100%;
                }

                @include _690 {
                    margin-bottom: 20px;
                }

                @include _547 {
                    font-family: 'Roboto', sans-serif;
                    font-style: normal;
                    font-weight: 400;
                    font-size: 10px;
                    line-height: 100%;
                    text-align: center;
                    color: #1B1D1F;
                    margin-bottom: 20px;
                }

                font-family: 'Roboto',
                sans-serif;
                font-style: normal;
                font-weight: 400;
                font-size: 16px;
                line-height: 140%;
                text-align: center;
                color: #1B1D1F;
                margin-bottom: 45px;
            }

            .btnbox {
                @include _690 {
                    flex-direction: column;
                    gap: 5px;
                }

                @include _547 {
                    display: flex;
                    justify-content: space-evenly;
                    align-items: center;
                    flex-direction: column;
                    margin-bottom: 10px;
                }

                display: flex;
                justify-content: space-evenly;
                align-items: center;
                flex-direction: row;
                margin-bottom: 41px;

                div {
                    @include _992 {
                        width: 200px;
                    }

                    @include _547 {
                        width: min-content;
                        height: min-content;
                        margin-bottom: 2px;
                        background: rgba(217, 217, 217, 0.71);
                        border-radius: 8px;
                        font-family: 'Roboto', sans-serif;
                        font-style: normal;
                        font-weight: 600;
                        font-size: 12px;
                        line-height: 100%;
                        text-align: center;
                        color: rgba(27, 29, 31, 0.51);
                        display: inline-block;
                        display: flex;
                        flex-direction: row;
                        justify-content: center;
                        align-items: center;
                    }

                    width: 233px;
                    height: 57px;
                    background: rgba(217, 217, 217, 0.71);
                    border-radius: 8px;
                    font-family: 'Roboto',
                    sans-serif;
                    font-style: normal;
                    font-weight: 600;
                    font-size: 19px;
                    line-height: 140%;
                    text-align: center;
                    color: rgba(27, 29, 31, 0.51);
                    display: inline-block;
                    display: flex;
                    flex-direction: row;
                    justify-content: center;
                    align-items: center;

                    &:hover {
                        border: #46B1DE 2px solid
                    }
                }

                img {
                    @include _992 {
                        width: 24px;
                        height: 24px;
                        box-sizing: content-box;
                        padding: 7px;
                    }
                    @include _547 {
                        width: 12px;
                        height: 12px;
                        box-sizing: content-box;
                        padding: 5px;
                    }

                    width: 24px;
                    height: 24px;
                    box-sizing: content-box;
                    padding: 15px 10px;
                }

                input {
                    @include _992 {
                        padding-left: 5px;
                    }
                    @include _547 {
                        border: none;
        background: none;
        padding-left: 5px;
        border-left: #000000 solid 2px;
                    }

                    border: none;
                    background: none;
                    padding-left: 10px;
                    border-left: #000000 solid 2px;
                }

                button {
                    @include _992 {
                        border: none;
                    }
                    @include _547 {
                        width: 150px;
                        height: 20px;
                        background: #46B1DE;
                        border-radius: 8px;
                        font-family: 'Roboto', sans-serif;
                        font-style: normal;
                        font-weight: 600;
                        font-size: 12px;
                        line-height: 100%;
                        text-align: center;
                        color: #FFFFFF;
                        border: none;
                    }

                    border: none;
                    width: 180px;
                    height: 57px;
                    background: #46B1DE;
                    border-radius: 8px;
                    font-family: 'Roboto',
                    sans-serif;
                    font-style: normal;
                    font-weight: 600;
                    font-size: 19px;
                    line-height: 140%;
                    text-align: center;
                    color: #FFFFFF;

                    &:hover {
                        border: black 2px solid
                    }
                }
            }
        }
    }
}