@import '_header';
@import '_header_mob';
@import '_contant';
@import '_carts';
@import '_table';
@import '_diagram';
@import '_form';
@import '_picture';
@import '_footer_left';
@import '_footer_right';
@import '_triengle';
@import '_template';
@import '_reset';


.header_mob,
.text_mob,
.btn_mob,
.right_img_mob {
    position: absolute;
    top: -999999px;
    left: -9999999px
}

* {
    margin: 0;
    padding: 0;
}

html {
    width: 100%;
    background-image: url(/scss/picture/Rectangle1.png);
    background-size: 100vw auto;
    background-repeat: no-repeat;

    @include _992 {
        background-color: none;
    }
    @include _547{
        background-image: url(/scss/picture/back-mob.png);
        background-size: auto 100vh;
        background-position: top;
        background-color: white;
        position: relative;
    }
    @include _482{
        background-size: 100vw 100vh
    }
    @include _350{ position: relative;}
}
.body{
    @include _547{
        margin: 0 auto;
        width: 100vw;
        height: 100vh;
    }
}

@include _547{
    .header,
    .footer_list_icon,
    .img_right,
    .c_right_img,
    .c_btn,
    .c_text {
        position: absolute;
        top: -999999px;
        left: -9999999px
    }
    .header_mob,
    .c_text_mob,
    .c_btn_mob,
    .c_right_img {
        position: inherit;
    }
}




    // @import '_mixin_all'
    //  @include _505{}