* {
    margin: 0;
    padding: 0;
}

html {
    width: 100%;
    background-image: url(/picture/Rectangle1.png);
    background-size: 100vw auto;
    background-repeat: no-repeat;
}
@import '_header';
@import 'header_mob';
@import 'contant';
@import '_carts';
@import '_table';
// .header_mob,
// .c_text_mob,
// .c_btn_mob,
// .c_right_img_mob {
//     position: absolute;
//     top: -999999px;
//     left: -9999999px
//  for 1440px}
.header_mob,
.text_mob,
.btn_mob,
.right_img_mob {
    position: absolute;
    top: -999999px;
    left: -9999999px}