* {
    margin: 0;
    padding: 0;
}

html {
    width: 100%;
    background-image: url(/picture/Rectangle1.png);
    background-size: 100vw auto;
    background-repeat: no-repeat;
}
@import '_header';
@import 'header_mob';
@import 'contant';
@import '_carts';
@import '_table';
@import '_diagram';
@import '_form';
@import '_picture';
@import '_footer_left';
@import '_footer_right';

.header_mob,
.text_mob,
.btn_mob,
.right_img_mob,
.burger{
    position: absolute;
    top: -999999px;
    left: -9999999px}