.table {
    font-family: 'Roboto', sans-serif;
    font-style: normal;

    .title {
        font-weight: 400;
        font-size: 34px;
        line-height: 130%;
        color: #1B1D1F;
        text-align: center;
        margin: 88px auto 5px auto;
        @include _992{
            font-size: 20px;
            margin-top: 50px;
        }

        span {
            color: #46B1DE;
        }
    }

    .subtitle {
        font-weight: 400;
        font-size: 16px;
        line-height: 140%;
        text-align: center;
        color: #000000;
        margin-bottom: 50px;
        @include _992{font-size: 15px;
            white-space: nowrap;
            margin-bottom: 15px;}

    }

    .box {
        box-sizing: border-box;
        margin-left: auto;
        margin-right: auto;
        padding: 20px 16px;
        width: min-content;
        height: min-content;
        background: #A1C7D4;
        border-radius: 12px;
        font-family: 'Roboto', sans-serif;
        font-style: normal;
        display: grid;
        grid-template-columns: repeat(3, 1fr);
        grid-template-rows: repeat(2, 1fr);
        grid-column-gap: 40px;
        grid-row-gap: 12px;
        grid-auto-flow: column;
        justify-items: center;
        align-items: center;
        @include _992{
            width: 90vw;
            padding: 10px;
            height: min-content;
            margin-left: auto;
            margin-right: auto;
            grid-column-gap: 10px;
            grid-row-gap: 10px;
        }

        .gap {
            width: 300px;
            height: 176px;
            font-weight: 400;
            font-size: 16px;
            line-height: 19px;
            color: #1B1D1F;
            background: #FFFFFF;
            border-radius: 8px;
            padding: 10px;
            box-sizing: border-box;
            @include _992{width: auto;
                height: 100px;
                font-size: 13px;
                line-height: 13px;
                padding: 5px;}

            .gaptitle {
                font-weight: 700;
                font-size: 18px;
                line-height: 21px;
                color: #46B1DE;
                display: flex;
                align-items: center;
                justify-content: flex-start;
                margin-bottom: 25px;
                @include _992{
                    font-size: 13px;
                    line-height: 13px;
                    white-space: nowrap;
                    margin-bottom: 0px;
                }

                span {
                    font-weight: 400;
                    font-size: 40px;
                    line-height: 47px;
                    margin: 0 10px;
                    @include _992{
                        font-size: 35px;
                    }
                }
            }
        }
    }
}