.contant {
  margin: 0 110px 0 110px;
  text-align: left;
  display: inline-block;
  vertical-align: middle;
}
.contant .left {
  width: 40vw;
  display: inline-block;
  font-family: "Roboto", sans-serif;
  font-style: normal;
}
.contant .left .title_text {
  font-weight: 700;
  font-size: 40px;
  line-height: 130%;
  letter-spacing: 0.1em;
  color: #1B1D1F;
  margin-bottom: 30px;
  animation: slid_text_left 0.5s linear 1 reverse 0s backwards;
}
.contant .left .title_text span {
  color: #46B1DE;
}
.contant .left .slide {
  animation: slide 0.5s linear 1 reverse 0.2s backwards;
}
.contant .left .slide .text {
  font-weight: 400;
  font-size: 16px;
  line-height: 140%;
  color: #1B1D1F;
  margin-bottom: 48px;
}
@media screen and (max-width: 1250px) {
  .contant .left .slide .text {
    white-space: nowrap;
    margin-bottom: 10px;
    color: red;
  }
}
.contant .btn {
  display: flex;
  justify-content: space-around;
  align-items: center;
  font-family: "Roboto", sans-serif;
  font-style: normal;
  font-weight: 600;
  font-size: 19px;
  line-height: 140%;
  text-align: center;
  text-transform: uppercase;
}
.contant .btn .btn_1 {
  padding: 16px 35px;
  background: linear-gradient(97.59deg, #46B1DE 9.8%, #0591CC 95.1%);
  box-shadow: 0px 2px 10px #46B1DE;
  border-radius: 8px;
  color: white;
  width: 110px;
  height: min-content;
}
.contant .btn .btn_2 {
  width: 110px;
  height: min-content;
  padding: 16px 35px;
  border-radius: 8px;
  background: #FFFFFF;
  border: 1px solid #DDE0DC;
  box-shadow: 0px 2px 10px #DDE0DC;
  color: #46B1DE;
}

.right {
  display: inline-block;
  vertical-align: top;
}
.right .right_img {
  width: 572px;
  height: 530px;
  position: absolute;
  top: 152px;
  right: 110px;
  z-index: -99;
}
@media screen and (max-width: 1250px) {
  .right .right_img {
    right: 0px;
    top: 62px;
  }
}

@keyframes slid_text_left {
  0% {
    opacity: 1;
    transform: translate(0%, 0%);
  }
  100% {
    opacity: 0;
    transform: translate(0%, 70%);
  }
}
@keyframes slide {
  0% {
    opacity: 1;
    transform: translate(0%, 0%);
  }
  100% {
    opacity: 0;
    transform: translate(0%, 70%);
  }
}