.table .box .gap .gaptitle, .table .title span {
  color: #46B1DE;
}

.table {
  font-family: "Roboto", sans-serif;
  font-style: normal;
  margin-left: auto;
  margin-right: auto;
}
@media screen and (max-width: 547px) {
  .table {
    margin-top: 3vh;
    background-color: white;
  }
}
@media screen and (max-width: 350px) {
  .table {
    margin-top: 64vh;
  }
}
.table .title {
  font-style: normal;
  font-weight: 400;
  font-size: 34px;
  line-height: 130%;
  color: #1B1D1F;
  text-align: center;
  margin: 88px auto 5px auto;
}
@media screen and (max-width: 992px) {
  .table .title {
    font-size: 20px;
    margin-top: 50px;
  }
}
@media screen and (max-width: 547px) {
  .table .title {
    font-size: 15px;
    line-height: 130%;
    margin: 0 auto 5px auto;
  }
}
.table .subtitle {
  font-style: normal;
  font-weight: 400;
  font-size: 16px;
  line-height: 140%;
  text-align: center;
  color: #000000;
  margin-bottom: 50px;
}
@media screen and (max-width: 992px) {
  .table .subtitle {
    font-size: 15px;
    white-space: nowrap;
    margin-bottom: 15px;
  }
}
@media screen and (max-width: 625px) {
  .table .subtitle {
    font-size: 11px;
  }
}
@media screen and (max-width: 547px) {
  .table .subtitle {
    font-size: 10px;
    line-height: 100%;
    margin-bottom: 5px;
  }
}
@media screen and (max-width: 350px) {
  .table .subtitle {
    margin: 0 auto;
    width: 80vw;
    white-space: normal;
    text-align: center;
  }
}
.table .box {
  box-sizing: border-box;
  margin-left: auto;
  margin-right: auto;
  padding: 20px 16px;
  width: min-content;
  height: min-content;
  background: #A1C7D4;
  border-radius: 12px;
  font-family: "Roboto", sans-serif;
  font-style: normal;
  display: grid;
  grid-template-columns: repeat(3, 1fr);
  grid-template-rows: repeat(2, 1fr);
  grid-column-gap: 40px;
  grid-row-gap: 12px;
  grid-auto-flow: column;
  justify-items: center;
  align-items: center;
}
@media screen and (max-width: 992px) {
  .table .box {
    width: 90vw;
    padding: 10px;
    height: min-content;
    margin-left: auto;
    margin-right: auto;
    grid-column-gap: 10px;
    grid-row-gap: 10px;
  }
}
@media screen and (max-width: 690px) {
  .table .box {
    width: max-content;
    grid-template-columns: repeat(auto-fit, 175px);
    grid-column-gap: 1px;
    grid-row-gap: 1px;
  }
}
@media screen and (max-width: 547px) {
  .table .box {
    width: 70vw;
    height: min-content;
    background: #A1C7D4;
    padding: 5px 5px;
    margin: 10px auto;
    grid-template-columns: repeat(auto-fit, minmax(220px, 1fr));
    grid-column-gap: 0px;
    grid-row-gap: 5px;
    grid-auto-flow: row;
  }
}
.table .box .gap {
  font-style: normal;
  font-weight: 400;
  font-size: 16px;
  width: 300px;
  height: 176px;
  line-height: 19px;
  color: #1B1D1F;
  background: #FFFFFF;
  border-radius: 8px;
  padding: 10px;
  box-sizing: border-box;
}
@media screen and (max-width: 992px) {
  .table .box .gap {
    width: auto;
    height: 100px;
    font-size: 13px;
    line-height: 13px;
    padding: 5px;
  }
}
@media screen and (max-width: 800px) {
  .table .box .gap {
    font-size: 10px;
    line-height: 10px;
    width: 175px;
    height: 88px;
  }
}
@media screen and (max-width: 547px) {
  .table .box .gap {
    font-size: 13px;
    line-height: 10px;
    padding: 10px;
    width: 200px;
    height: 80px;
  }
}
@media screen and (max-width: 482px) {
  .table .box .gap {
    font-size: 10px;
    line-height: 13px;
  }
}
.table .box .gap .gaptitle {
  font-style: normal;
  font-weight: 700;
  font-size: 18px;
  line-height: 21px;
  display: flex;
  align-items: center;
  justify-content: flex-start;
  margin-bottom: 25px;
}
@media screen and (max-width: 992px) {
  .table .box .gap .gaptitle {
    font-size: 13px;
    line-height: 13px;
    white-space: nowrap;
    margin-bottom: 0px;
  }
}
@media screen and (max-width: 800px) {
  .table .box .gap .gaptitle {
    white-space: nowrap;
  }
}
@media screen and (max-width: 690px) {
  .table .box .gap .gaptitle {
    font-size: 13px;
  }
}
@media screen and (max-width: 547px) {
  .table .box .gap .gaptitle {
    line-height: 11px;
    margin-bottom: 5px;
  }
}
@media screen and (max-width: 482px) {
  .table .box .gap .gaptitle {
    font-size: 11px;
    line-height: 11px;
  }
}
.table .box .gap .gaptitle span {
  font-style: normal;
  font-weight: 400;
  font-size: 40px;
  line-height: 47px;
  margin: 0 10px;
}
@media screen and (max-width: 992px) {
  .table .box .gap .gaptitle span {
    font-size: 35px;
  }
}
@media screen and (max-width: 800px) {
  .table .box .gap .gaptitle span {
    font-size: 30px;
    margin: 0 0px;
  }
}
@media screen and (max-width: 690px) {
  .table .box .gap .gaptitle span {
    font-size: 25px;
    margin-right: 5px;
  }
}
@media screen and (max-width: 547px) {
  .table .box .gap .gaptitle span {
    font-size: 20px;
    line-height: 8px;
    margin: 5px;
  }
}